/*  MAIN SCSS */


/* ================================================================================ */
/* COLORS */
/* ================================================================================ */

.red, .red a {
	color: $color-red;
}
.lightgray, .lightgray a {
	color: $color-lightgray;
}
.gray, .gray a {
	color: $color-gray;
}
.charcoal, .charcoal a {
	color: $color-charcoal;
}
.black, .black a {
	color: $color-black;
}


/* ================================================================================ */
/* GLOBAL STYLES */
/* ================================================================================ */

* {
  @include box-sizing(border-box);
}

*:before,
*:after {
  @include box-sizing(border-box);
}

::-moz-selection {
	background: #eee;
	color:#000; 
	text-shadow: none;
}

::selection {
	background: #eee;
	color:#000;
	text-shadow: none;
} 

a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}

img {
	border: 0;
	max-width: 100%;
	vertical-align: middle;
}


/* ---- FORM ELEMENTS ---- */

textarea {
	resize: none;
}

html.touch {
	// prevent ios zoom on select
	select:focus, 
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	input[type="tel"]:focus {
    	font-size:16px !important;
    }
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}


::-webkit-input-placeholder {
	color:#999;
}

input:-moz-placeholder {
	color:#999;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="submit"], textarea {
	-webkit-appearance: none;
    border-radius: 0;
}

input[type="submit"] {
	cursor: pointer;
}


/* ---- BACKGROUND STYLE ---- */

.bg-cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-ms-behavior: url('js/compat/backgroundsize.min.htc'); /* IE 8 Fix */
}


/* ================================================================================ */
/* HTML / BODY / SECTIONS */
/* ================================================================================ */

body {
		
}

.main {
	
}

aside {
	
}

section {
	display: block;
	clear: both;
	position: relative;
}



/* ================================================================================ */
/* HEADER */
/* ================================================================================ */

header {
	
}


/* ================================================================================ */
/* FOOTER */
/* ================================================================================ */

footer {
	
}



