/* MODULES SCSS */



/* ================================================================================ */
/* WIDGET GLOBAL */
/* ================================================================================ */

.widget {
	@include break(2em);
	position: relative;
	width: 100%;
	max-width: 360px;
	
}

